{% load staticfiles %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        {% compress css %}
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/sticky-footer-navbar.css' %}" rel="stylesheet">
        <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-tree/bootstrap-combined.min.css' %}" rel="stylesheet">
        <link href="{% static 'graphs/style.css' %}" rel="stylesheet">        
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'eia/jquery-jvectormap-2.0.1.css' %}" rel="stylesheet" />  


        {% block extracss %}{% endblock %}
        {% endcompress %}

        <!-- Add custom CSS here -->
        {% block customcss %}
            <style>
                body {
                    padding-bottom: 70px;
                }body > div.container{ 
                    padding-top: 0px;
                }div.page-header {
                    margin-bottom: 15px;
                }
            </style>
        {% endblock %}

        <!-- Enables 'Add to Homescreen' for Android -->
        <meta name="viewport" content="width=device-width">
        <meta name="mobile-web-app-capable" content="yes">

        {% block extrahead %}{% endblock %}
        <title>{% block title %}EIA datasets explorer App {% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">EIA datasets explorer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'graphs:index' %}">Main <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'graphs:credits' %}">About</a></li>
                <!-- <li><a href="#">About me</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        {% block rootcontainer %}
        <div class="container">
          <div class="row">
            {% block breadcrumbs %}{% endblock %}
            <div class="col-lg-12">
                <div class="page-header">
                    {% block heading %}{% endblock %}
                </div>
                {% block content %}{% endblock %}
            </div>
          </div>
        </div><!-- /.container -->
        {% endblock %}

        <!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <footer>
                  <p class="pull-right"><a href="#">Back to top</a></p>
                </footer>
            </div>
        </div>

        <!-- JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% compress js %}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'momentjs/moment.min.js' %}"></script>
        <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'jquery-validation/jquery.validate.js' %}"></script>

        <script src="{% static 'eia/highcharts.3.0.10.min.js' %}"></script>
        <script src="{% static 'eia/jquery-jvectormap-2.0.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'eia/us-merc-en.js' %}"></script>
        <script type="text/javascript" src="{% static 'eia/world-iso-mill-en.js' %}"></script>
        <script type="text/javascript" src="{% static 'eia/EIA_grapher.js' %}"></script>
        <script type="text/javascript">EIA_grapher.api_key = '67929F4F6AEAC2F250AE188343D01BA6'; </script>

        {% block extrajs %}{% endblock %}
        {% endcompress %}



        <!-- Disable submit buttons after click to prevent multiple submissions. -->
        <script type="text/javascript">
            $(function () {
                $('form').submit(function(){
                    $(this).find('input[type=submit]').prop('disabled', true);
                });
            });
        </script>

       {% block extrajsexternal %}{% endblock %}
    </body>
</html>