{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block extracss %}

{% endblock %}

{% block customcss %}
<style>
    body {
        position: relative; 
    }.navbar{
        margin-bottom: 0px;
    }
    .promo{width:100%;height:100%;color: #fff;background:#4682B4;}
    .slideA{width:100%;height:500px;color: #4682B4;background:#fff;}
    .slideB{width:100%;height:750px;color: #4682B4;background:#fff;}
    .slideC{width:100%;height:200px;color: #fff;background:#4682B4;}
    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 50px; 
      overflow: hidden; 
    }.center{
        text-align: center;
    }
    .featurette-imagetop {
      margin-top: 40px;
      margin-bottom: 20px;
      width: 30%; 
      height: 30%;
    }
    .featurette-image {
      margin-top: 40px; 
    }
    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
</style>
{% endblock %}

{% block rootcontainer %}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="featurette promo center">
        <div class="col-md-12">
            <h2 class="featurette-heading">Explore Official Energy Data<b> with Maps and Charts.<span class="text-muted"></span></h2>
            <p class="lead">You can choose categories and show multiple maps and charts sourced U.S. Energy Information Association. Compare them between differnt categories and find interesting features.
            </p>
            <div class="center">
                <a class="btn btn-success btn-large" href="{% url 'graphs:index' %}" role="button">Try Now</a></br>
                <img class="featurette-imagetop" src="{% static 'images/slide4.JPG' %}">
            </div>
        </div>
    </div>
    <div class="container featurette slideA">
            <div class="col-md-12">
                <h2 class="featurette-heading">1. Choose categories<span class="muted"></span></h2>
            </div>
            <div class="col-md-12 center">
            <img class="featurette-image" src="{% static 'images/slide1.JPG' %}">
            </div>
            <p class="lead"></p>
    </div>
    <hr class="featurette-divider">
    <div class="container slideA">
            <div class="col-md-12">
                <h2 class="featurette-heading">2. Click one or more states on the map<span class="muted"></span></h2>
            </div>
            <div class="col-md-12 center">
            <img class="featurette-image" src="{% static 'images/slide3.JPG' %}">
            </div>
    </div>
    <hr class="featurette-divider">
    <div class="container slideB">
        <div class="col-md-12">
            <h2 class="featurette-heading">3. Select other categories <span class="muted"></span></h2>
        </div>
        <div class="col-md-12 center">
        <img class="featurette-image" src="{% static 'images/slide4.JPG' %}">
        </div>
    </div>
    <div class="container slideC">
        <div class="col-md-12">
            <h2 class="featurette-heading">4. Have a try! <span class="muted"></span></h2>
        </div>
        <div class="center">
            <a class="btn btn-success btn-large" href="{% url 'graphs:index' %}" 
            role="button">Try Now</a>
        </div>
    </div>


</body>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extrajsexternal %}

{% endblock %}
