{% extends 'base_graph.html' %}

{% load crispy_forms_tags %}
{% block customcss %}
    <style>
        .jvectormap-zoomout {
            left: 30px;
        }.jvectormap-zoomout, .jvectormap-zoomin {
            top: 0px;
            width: 15px;
            height: 15px;
        }.page-header {
            margin-bottom: 5px;
        }body > .container{
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block heading %}
    <h4><span class="glyphicon glyphicon-stats"></span> 
        {{object.category1}} - {{object.category2}} - {{object.category3}}</h4>
{% endblock %}

{% block content %}
<!-- <div class="eia-visualization" series_ids="PET.RWTC.D" style="width: 900px; height: 500px"></div> -->
<div class="container">
    <div class="eia-visualization" map="us_merc_en" initial_regions="" geoset_id="{{ object.geoset_id }}" relation_mode="line" style="width: 100%; height: 370px"></div>
    <p>Series_id:{{ object.series_id }}</br>
    Getset_id:{{ object.geoset_id }}</p>

</div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
{% endblock %}
