{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block heading %}
    <h3><span class="fa fa-th"></span> {{ Scategory.name }}</h3>
{% endblock %}

{% block content %}
<div class="eia-visualization" series_ids="PET.RWTC.D" style="width: 900px; height: 500px"></div>
<div class="container">

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
    <form action="{% url 'graphs:vote' category.id %}" method="post">
    {% csrf_token %}
    {% for graph in scategory.metacategory_set.all %}
    <div class="eia-visualization" series_ids="{{ graph.category_id }}" style="width: 900px; height: 500px"></div>
    <input type="radio" name="graph" id="graph{{ forloop.counter }}" value="{{ graph.category_id }}" />
    <label for="graph{{ forloop.counter }}">{{ graph.category_id }}</label><br />
    {% endfor %}
    <!-- <input class="btn btn-primary" type="submit" value="Vote"> -->
    </form>

</div>
{% endblock %}
